{{ [23,54,6,78,54,99] | max }}
{{ [23,54,6,78,54,99] | min }}
{{ [23,54,6,78,54,99] | unique }}
{{ [23,54,6,78,54,99] | difference([3,4,34]) }}
{{ ["jack" , "raj" , "yash" ] | random }}





















